.body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(211, 74, 40);
  }
  .header {
    padding: /*top*/10px /*right*/10px /*bottom*/10px /*left*/10px;
    background-color: #19d7ec;
  }
  header1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
  }
  
  header a {
    color: #fce138;
  }

  